@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import './reset.css';
@import './header.css';

:root {
    --primary-color: white;
}

body {
    font-family: 'Indie Flower', cursive;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 0 100px;
    box-sizing: border-box;
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;

}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: black;
    opacity:0.5;    */
    background-color: rgba(0, 0, 0, 0.2);
}

header,
main,
footer {
    z-index: 5;
    position: relative;
}

main {
    /* margin:0 auto;  */
    text-align: center;
    font-size: 4rem;
}

.login-container {
    width: 320px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;

}

.login-container input {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    box-sizing: inherit;
    border-radius: 2rem;
    outline: none;

}

.login-container input::placeholder {
    color: white;
    opacity: 0.8;

}

.login-container button {
    padding: 1rem 2rem;
    margin-top: 3rem;
    background-color: red;
    border: 1px solid white;
    color: white;
    box-sizing: inherit;
    border-radius: 2rem;
    outline: none;
    box-shadow: 0 0.2rem rgba(255, 255, 255, 0.5);
    cursor: pointer;

}

.login-container button:hover {
    filter: brightness(130%);

}

.login-container button:active {
    transform: translate(0, 0.2rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.5);


}

.clock {
    font-size: 7rem;
}

main .great {
    font-size: 0.8rem;
}

.todo-container {
    max-width: 800px;
    margin: 24px auto;
    height: 45vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.todo-form {
    margin-bottom: 1rem;
}

.todo-form input {
    width: 80%;
    padding: 0.7rem;
    border-radius: 3rem;
    border: 1px solid var(--primary-color);
    outline: none;
    background-color: transparent;
    color: var(--primary-color)
}

.todos {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

input::placeholder {
    color: var(--primary-color);
    opacity: 0.5;
}

.todos .item {
    display: flex;
    text-align: left;
    align-items: center;
    line-height: 2rem;
}

.todos .item .todo {
    flex: 1 0 auto;
    background-color: transparent;
    color: var(--primary-color);

}



.todos .item .delete {
    margin-left: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    left: 0;
}